body {
  background-image: url('https://assets.science.nasa.gov/dynamicimage/assets/science/astro/universe/internal_resources/402/Carina_Nebula-1.jpeg?w=4096&format=jpeg&fit=clip&crop=faces%2Cfocalpoint');
  background-size: cover; /* Растянуть фон по всему экрану */
  background-position: center; /* Центрировать фон */
}

.grid-container-adaptive {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  grid-auto-rows: 188px;
}

.grid-item-adaptive {
  display: flex;
  color: rgb(210, 245, 15);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://www.autoscout24.de/cms-content-assets/4Y47YWAOwYA8rTD9CDULqg-f0661040111ea9a1157519c17dced4ee-rolls-royce-phantom-1100.jpg');
  background-size: cover;
  background-position: center;
}
.header {
  
  display: flex;
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center; /* Вертикальное центрирование */
      width: 100%; /* Убедитесь, что ширина хедера соответствует ширине экрана */
      background-color: rgb(109, 70, 146);
      box-sizing: border-box; /* Учитывайте паддинги в общей ширине */
    }
    
    @media (max-width: 768px) { /* Настройки для мобильных устройств */
      .header {
        flex-direction: column; /* Перенос элементов, если они не помещаются */
        padding: 10px; /* Добавьте отступы, если нужно */
      }
    }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

h1 {
  margin: 0;
}

h1 {
  font-size: 48px; /* Размер шрифта */
  color: #f7f0f0; /* Цвет текста */
  text-align: center; /* Центрирование текста внутри h1 */
  margin: 0; /* Убираем внешние отступы */
  text-decoration: none;
}


h2 {
  font-size: 36px;
  color: #ee1212;
  text-align: center;
  text-decoration: none;
}
footer {
  background-color: #333;
  color: rgb(190, 38, 38);
  text-align: center;
  padding: 4%;
  position: relative;
  bottom:0%;
  width: 100%;
  text-decoration: none;
  border-top: 50px solid #ccc; /* Граница сверху */

}


/* Эффект наведения */
nav a:hover {
  background-color: #0056b3;
  transform: scale(1.1); /* Увеличение при наведении */
}

/* Стилизация ссылок */
nav a {
  display: inline-block;
  background-color: #4b6b8d;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
}

  .grid-gallery div {
    height: 170px;
  }
